VITE_SITE_URL=http://localhost:5173
VITE_SUPABASE_URL=https://bbdjutmpqxmqqnytsffz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_-5a42wSAOMPAc5Om6axUIg_yL8EjO5-
VITE_CONTACT_EMAIL=
VITE_CONTACT_PHONE=
VITE_WHATSAPP_NUMBER=
DATA_BASE_PASSWORD=D0bvwWWhUU3sdt3x